[Unit]
Description=Organizer

[Service]
ExecStart=/usr/bin/node /../../myDaemon/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=organizer

[Install]
WantedBy=multi-user.target